<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="fragments/general.html :: head"></div>

<body>

	<div id="page">

		<div th:replace="fragments/general.html :: header"></div>
		<!-- /header -->

		<main>
			<section id="hero_in" class="general">
				<div class="wrapper">
					<div class="container">
						<h1 class="fadeInUp"><span></span>Elearning- MQL -Challengers</h1>
					</div>
				</div>
			</section>
			<!--/hero_in-->

			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-9">
						<article class="blog wow fadeIn">
							<div class="row no-gutters">
								<div class="col-lg-7">
									<figure>
										<a href="blog-post.html"><img th:src="@{/img/Capture2.PNG}" alt="" width="800px" height="400px" style="opacity:0.4;" >
											<div class="preview"><span>Lire la suite</span></div>
										</a>
									</figure>
								</div>
								<div class="col-lg-5" >
									<div class="post_info">
										<small>20 Nov. 2017</small>
										<h2><a href="blog-post.html" >Langage de programmation</a></h2>
										<p style="font-size: 15px;color:#2F4F4F;margin-right: 30px "><b>
Fragment de code écrit dans le langage de programmation JavaScript.
En informatique, un langage de programmation est une notation conventionnelle destinée à formuler des algorithmes et produire des programmes informatiques qui les appliquent. D'une manière similaire à une langue naturelle,
 un langage de programmation est composé d'un alphabet, d'un vocabulaire, de règles de grammaire et de significations.</p></b>
										
									</div>
								</div>
							</div>
						</article>
						<!-- /article -->

						<article class="blog wow fadeIn">
							<div class="row no-gutters">
								<div class="col-lg-7">
									<figure>
										<a href="blog-post.html"><img  th:src="@{/img/elearning.png}" alt="" width="800px" height="400px" style="opacity:0.4;">
											<div class="preview"><span>Lire la suite</span></div>
										</a>
									</figure>
								</div>
								<div class="col-lg-5">
									<div class="post_info">
										<small>29 Nov. 2018</small>
										<h2><a href="blog-post.html">Formation en ligne</a></h2>
										<p style="font-size: 15px;color:black;margin-right: 30px "><b>
										La formation en ligne, terme recommandé en France par la DGLFLF1, ou encore l'apprentissage en ligne (au Canada), l'e-formation ou l'e-learning, désignent l'ensemble des solutions et moyens permettant l'apprentissage par des moyens électroniques. La formation en ligne inclut de
										 cette façon des sites web éducatifs, la téléformation, 
										 l'enseignement télématique, ou encore l'e-training, notamment.</p></b>
										
									</div>
								</div>
							</div>
						</article>
						<!-- /article -->

						<article class="blog wow fadeIn">
							<div class="row no-gutters">
								<div class="col-lg-7">
									<figure>
										<a href="blog-post.html"><img  th:src="@{/img/live.PNG}" alt="" width="800px" height="400px" style="opacity:0.4;">
											<div class="preview"><span>Lire la suite </span></div>
										</a>
									</figure>
								</div>
								<div class="col-lg-5">
									<div class="post_info">
										<small>1 Dec. 2018</small>
										<h2><a href="blog-post.html">Cours avec un  Live</a></h2>
										<p style="font-size: 15px;color:black;margin-right: 30px "><b>
										 Vous avez besoin de quelqu’un qui contrôle si vous effectuez correctement les exercices et qui vous motive ? 
										Alors vous devez opter pour les Cours MQL-Elearning. Nos enseignant sont formés et savent comment retirer le meilleur de vous-même. 
										Vous pouvez vous attendre à des conseils et astuces mais aussi et surtout à une bonne dose d’enthousiasme ..</p></b>
										
									</div>
								</div>
							</div>
						</article>
						<!-- /article -->

						<article class="blog wow fadeIn">
							<div class="row no-gutters">
								<div class="col-lg-7">
									<figure>
										<a href="blog-post.html"><img th:src="@{/img/cours.png}" alt="" width="800px" height="400px" style="opacity:0.4;">
											<div class="preview"><span>Cours</span></div>
										</a>
									</figure>
								</div>
								<div class="col-lg-5">
									<div class="post_info">
										<small>20 Nov. 2013</small>
										<h3><a href="blog-post.html">Cours</a></h3>
										<p style="font-size: 15px;color:black;margin-right: 30px "><b>
										Pour évoluer,
										 économiser de l'argent et gagner du temps aux apprenants. Sans le coût de la logistique en classe et en permettant aux apprenants 
										de s'auto-guider tout au long du cours, les organisations dépensent moins et les apprenants apprennent davantage.</b></p>
									
										
									</div>
								</div>
							</div>
						</article>
						<!-- /article -->

						<nav aria-label="...">
							<ul class="pagination pagination-sm">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Précédant</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#">Suivant</a>
								</li>
							</ul>
						</nav>
						<!-- /pagination -->
					</div>
					<!-- /col -->

					<aside class="col-lg-3">
						<div class="widget">
							<form>
								<div class="form-group">
									<input type="text" name="search" id="search" class="form-control" placeholder="Recherche...">
								</div>
								<button type="submit" id="submit" class="btn_1 rounded"> Recherche</button>
							</form>
						</div>
						<!-- /widget -->
						<div class="widget">
							<div class="widget-title">
								<h4>Publication récente</h4>
							</div>
							<ul class="comments-list">
								<li>
									<div class="alignleft">
										<a href="#0"><img th:src="@{/img/formation.jpg}" width="150px" height="150px" style="opacity:0.4;"></a>
									</div>
									<small>11.08.2016</small>
									<h3><a href="#" title="">Nouvelle formation...</a></h3>
								</li>
								<li>
									<div class="alignleft">
										<a href="#0"><img th:src="@{/img/module.png}" width="150px" height="150px" style="opacity:0.4;"></a>
									</div>
									<small>11.08.2016</small>
									<h3><a href="#" title="">Nouveau module...</a></h3>
								</li>
								<li>
									<div class="alignleft">
										<a href="#0"><img th:src="@{/img/live.jpg}" width="150px" height="150px" style="opacity:0.4;" alt=""></a>
									</div>
									<small>11.08.2016</small>
									<h3><a href="#" title="">Nouveau Live...</a></h3>
								</li>
							</ul>
						</div>
						<!-- /widget -->
						<div class="widget">
							<div class="widget-title">
								<h4>Categories de formation</h4>
							</div>
							<ul class="cats">
								<li><a href="#">Architecture <span>(12)</span></a></li>
								<li><a href="#">Informatique <span>(21)</span></a></li>
								<li><a href="#">Design <span>(44)</span></a></li>
								<li><a href="#">Chimie <span>(31)</span></a></li>
							</ul>
						</div>
						
					</aside>
					<!-- /aside -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</main>
		<!--/main-->

		<div th:replace="fragments/general.html :: footer"></div>
		<!--/footer-->
	</div>
	<!-- page -->

	<!-- COMMON SCRIPTS -->
	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/common_scripts.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/assets/validate.js}"></script>

</body>

</html>