<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<div th:replace="fragments/general.html :: head"></div>

<body>

	<div id="page">

		<div th:replace="fragments/general.html :: header"></div>
		<!-- /header -->

		<main>
			<!-- Slider -->
			<div id="full-slider-wrapper">
				<div id="layerslider" style="width:100%;height:750px;">
					<!-- first slide -->
					<div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
						<img src="/img/backhome.png" class="ls-bg" alt="Slide background">
						
						
						<h3 class="ls-l slide_typo" style="top: 47%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Bienvenue 
							dans <strong>MQL-ELEARNING</strong> Platform</h3>
						<p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
							Me former " Où je veux, quand je veux, comme je veux ! "
						</p>
						<a class="ls-l btn_1 rounded" style="top:65%; left:50%;white-space: nowrap;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"
						 href='courses-grid.html'>Voir Plus</a>
					</div>
				</div>
			</div>
			<!-- End layerslider -->

			<div class="features clearfix">
				<div class="container">
					<ul>
						<li><i class="pe-7s-study center"></i>
							<h4>+20 Formations</h4><span>Explorez une variété de formations</span>
						</li>
						<li><i class="pe-7s-cup"></i>
							<h4>Enseignants experimentés</h4><span>Trouvez le bon fomateur pour vous</span>
						</li>
						<li><i class="pe-7s-target"></i>
							<h4>Tracer votre parcours </h4>
							<span>Formation de qualité</span>
						</li>
					</ul>

				</div>
			</div>
			<!-- /features -->
			<div class="container-fluid margin_120_0">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>MQL-ELEARNING Formations</h2>
				</div>
				<div id="reccomended" class="owl-carousel owl-theme">
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img th:src="@{/img/python.png}" >
								</a>
							</figure>
							<img th:src="@{/img/logo.png}" width="149" height="42" data-retina="true" alt="">
							<div class="wrapper">
								<small>Langage Python</small>
								<h3></h3>
								<p></p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">S'inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img th:src="@{/img/java.jpg}" >
								</a>
							</figure>
							<div class="wrapper">
								<small>Langage JAVA</small>
								<h3></h3>
								<p></p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div>
								</a>
							</figure>
							<div class="wrapper">
								<small>Langage ruby</small>
								<h3></h3>
								<p></p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div>
								</a>
							</figure>
							<div class="wrapper">
								<small>Langage ruby</small>
								<h3></h3>
								<p></p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus </span></div><img src="http://via.placeholder.com/800x533/ccc/fff/course__list_1.jpg"
									 class="img-fluid" alt="">
								</a>
							</figure>
							<div class="wrapper">
								<small>Informatique</small>
								<h3></h3>
								<p></p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>!
					<!-- /item -->
					<div class="item">
						<div class="box_grid">
							<figure>
								<a href="course-detail.html">
									<div class="preview"><span>Voir Plus</span></div><img th:src="@{/img/ruby.png}" width="150px" height="200px" >
								</a>
							</figure>
							<div class="wrapper">
								<small>Langage ruby</small>
								<h3></h3>
								<p></p>
							</div>
							<ul>
								<li></li>
								<li><a href="course-detail.html">Inscrire</a></li>
							</ul>
						</div>
					</div>
					<!-- /item -->
				</div>
				<!-- /carousel -->
				<div class="container">
					<p class="btn_home_align"><a href="courses-grid.html" class="btn_1 rounded">Voir toutes les formations</a></p>
				</div>
				<!-- /container -->
				<hr>
			</div>
			<!-- /container -->

			<div class="container margin_30_95">
				<div class="main_title_2">
					<span><em></em></span>
					<h2>Les Categories</h2>
					<p></p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150" >
						<a href="#0" class="grid_item">
							<figure class="block-reveal" >
								<div class="block-horizzontal"></div>
								
								<img th:src="@{/img/web.png}" class="img-fluid" alt="" >
								<div class="info">
									<small><i class="ti-layers"></i>2 Formations</small>
									<h3>Web dynamique</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img th:src="@{/img/bigdata.jpg}" class="img-fluid" alt="" >
								<div class="info">
									<small><i class="ti-layers"></i>3 Formations</small>
									<h3>Big Data</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img th:src="@{/img/ar.jpg}"  class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>2 Formations</small>
									<h3>Architecture</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img th:src="@{/img/ds.jpg}"  class="img-fluid" alt="" >
								<div class="info">
									<small><i class="ti-layers"></i>2 Formations</small>
									<h3>Design</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img th:src="@{/img/chimie.jpg}" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>5 Formations</small>
									<h3>Chimie</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
						<a href="#0" class="grid_item">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<img th:src="@{/img/ec.png}" class="img-fluid" alt="">
								<div class="info">
									<small><i class="ti-layers"></i>2 Formations</small>
									<h3>Economie</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->

		
				<!-- /container -->
			</div>
			<!-- /container -->

			
		<!-- /main -->

		<div th:replace="fragments/general.html :: footer"></div>
		<!--/footer-->
	</div>
	<!-- page -->

	<!-- COMMON SCRIPTS -->
	<script th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/js/common_scripts.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/assets/validate.js}"></script>


	<script th:src="@{/layerslider/js/greensock.js}"></script>
	<script th:src="@{/layerslider/js/layerslider.transitions.js}"></script>
	<script th:src="@{/layerslider/js/layerslider.kreaturamedia.jquery.js}"></script>
	<script type="text/javascript">
		'use strict';
		$('#layerslider').layerSlider({
			autoStart: true,
			navButtons: false,
			navStartStop: false,
			showCircleTimer: false,
			responsive: true,
			responsiveUnder: 1280,
			layersContainer: 1200,
			skinsPath: 'layerslider/skins/'
			// Please make sure that you didn't forget to add a comma to the line endings
			// except the last line!
		});
	</script>

</body>

</html>